html, body {
    font-family: Arial, Helvetica, sans-serif;
    height: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    background-color: #f4f4f4;
}

header {
    background-color: #333;
    color: white;
    padding: 20px;
    text-align: center;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    padding: 5px 10px;
    transition: 0.3s;
}

nav ul li a:hover {
    background-color: #555;
    border-radius: 5px;
}

.articles-container {
    display: flex;
    justify-content: center;
    gap: 15px; /* Відстань між статтями */
    padding: 20px;
    flex-wrap: wrap;
    align-items: flex-start; /* Вирівнювання статей по верхньому краю */
}

.article {
    width: 400px; /* Фіксована ширина статті */
    padding: 15px;
    background-color: white;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    text-align: left; /* Текст по лівому краю */
}

img {
    width: 100%;
    border-radius: 10px;
}

main {
    margin: 20px auto;
    padding: 20px;
    background-color: white;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px;
    margin-top: auto;
}
a {
    color: black;
    text-decoration: none;
}